/*DEBUG*/
    /*LAYOUT*/
.debug-section-mixin {}
.debug-header {background-color: lightblue;}
/*.debug-body {background-color: lightgreen;}*/
.debug-footer {background-color: lightyellow;}
.debug-container-title {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    color: rgba(169, 169, 169, 0.5);
}

    /*COMPONENTS*/
.debug {
    border: 1px solid red;
    background-color: white;
}
