/*TABS*/
.tabs-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tabs ul {
    margin-left: 0;
    padding-left: 0;
}

.tabs li a {
    padding-left: 0;
    /*margin-right: 25px;*/
}

.tabs-content {
    height: 100%;
}

/*TAB CONTENT*/
.tab-content {

}

.tab-content-header {
    display: flex;
    justify-content: space-between;
}

.player-controler {
    margin-left: auto;
}

/* PLAYERS */
.players-wrapper {
    display: flex;
}

.simple-player {
    justify-content: left;
}

.double-player {
    justify-content: space-between;
}

/*.players-wrapper {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.simple-player-wrapper {
    position: relative;
    width: 72%;
    max-width: 1280px;
    max-height: 720px;
}

.simple-player-container {
    position: relative;
    padding-bottom: calc(100% * 9 / 16);
}

.simple-player-container > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
}

.player-wrapper {
    position: relative;
    width: 49.5%;
    max-width: 1280px;
    max-height: 720px;
}

.player-container {
    position: relative;
    padding-bottom: calc(100% * 9 / 16);
}

.player-container > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
}

.players-options {
    margin-top: 5px;
}

/*PLAYER CONTROLER*/
/*.player-controler {*/
/*    margin-top: 5px;*/
/*    margin-bottom: 5px;*/
/*}*/


/*DEPTH TAB*/
.depth-options {
    display: flex;
    justify-content: left;
}

.depth-options .depth-options-label {
    margin-right: 10px;
}
